body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.TodoItem {
  display: flex;
  padding: 1rem;
  flex-direction: row;
  flex-grow: 1;
  align-items: center;
  justify-content: space-between;
  border-top: black 1px solid;
}